:root {
  --background-color: #343434;
  --default-color: #b9d2d2;
  --alt-color: #62a388;
  --spot-color: #055e68;
}

body {
  background: #343434;
  background: var(--background-color);
  font-family: "Verdana", serif;
  font-size: 18px;
  font-weight: 600;
  color: #b9d2d2;
  color: var(--default-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}

[aria-hidden="false"] {
  visibility: hidden
}

@keyframes blink_character {
  to {
    visibility: hidden
  }
}

div.typed-text {

  > span:last-of-type[aria-hidden="true"] {
    animation: blink_character 1s steps(5, start) infinite;
  }

  > span[data-value=" "] {
    padding-left: 1em;
  }
}

div.main-header {
  line-height: 20vh;
  font-family: "Courier New", serif;
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;

  span {
    font-size: 2.5em;
  }
}

div.main-content {
  margin-top: 100vh;
  width: 100%;
  background-color: var(--background-color);
  position: relative;
  z-index: 2;
}

#about-me {
  min-height: 100vh;
  padding-top: 10vh;
  padding-bottom: 10vh;

  h2 {
    padding-left: 20%;
    font-size: 2em;
  }

  p {
    padding-left: 20%;
    padding-right: 20%;
    font-size: 1.5em;
  }

  a {
    color: #62a388;
    color: var(--alt-color);
    text-decoration: none;
  }
}

@keyframes move {
  100% {
    transform: rotate(360deg);
  }
}

$spot-size: 20vmin;
$max-spots: 8;
$spot-speed: 7s;
.background-spots span {
  height: $spot-size;
  width: $spot-size;
  border-radius: 50%;
  backface-visibility: hidden;
  position: fixed;
  overflow: hidden;
  opacity: 0.6;
  z-index: -1;
  animation-name: move;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  @for $i from 1 through $max-spots {
    &:nth-child(#{$i}) {
      color: #055e68;
      color: var(--spot-color);
      top: random(100) * 1%;
      left: random(100) * 1%;
      animation-duration: random($spot-speed) * 1s + $spot-speed;
      transform-origin: (random(50) - 25) * 1vw (random(50) - 25) * 1vh;
      box-shadow: $spot-size * 2 0 $spot-size * 0.7 currentColor;
    }
  }
}

.service-card {
  width: 100%;
  overflow: hidden;

  div.col {
    float: left;
    position: relative;
  }

  div.col.space {
    height: 100%;
    width: 40%;
    background: var(--background-color);
  background-color: var(--background-color);
  }

  div.col.content {
    min-height: 300px;
    width: 60%;
    background-color: var(--spot-color);

    div {
      width: 90%;
    }

    &:before {
       content: "";
       height: 100%;
       width: 30%;
       position: absolute;
       background: var(--background-color);
       border-radius: 50%;
       top: 0;
       left: -15%;
       transition: all 0.8s;
     }

    &:after {
       content: "";
       height: 100%;
       width: 30%;
       position: absolute;
       background: var(--background-color);;
       border-radius: 50%;
       top: 0;
       right: -15%;
       transition: all 0.8s;
     }
  }

  &:nth-of-type(odd) {
    div.col {
      float: right;

      &.content:before {
        width: 0;
      }

      h2, p {
        margin-right: 15%;
      }
    }
  }

  &:nth-of-type(even) {
    div.col.content:after {
      width: 0;
    }

      h2, p {
        margin-left: 15%;
      }
  }

  h2 {
    font-size: 3em;
    text-align: center;
  }

  p {
    font-size: 1.5em;
    text-align: center;
  }
}
