:root {
  --background-color: #343434;
  --default-color: #b9d2d2;
  --alt-color: #62a388;
  --spot-color: #055e68;
}

body {
  background: #343434;
  background: var(--background-color);
  font-family: "Courier New", serif;
  font-size: 18px;
  font-weight: 600;
  color: #b9d2d2;
  color: var(--default-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}

[aria-hidden="false"] {
  visibility: hidden
}

@keyframes blink_character {
  to {
    visibility: hidden
  }
}

div.typed-text {

  > span:last-of-type[aria-hidden="true"] {
    animation: blink_character 1s steps(5, start) infinite;
  }

  > span[data-value=" "] {
    padding-left: 1em;
  }
}

div.main-header {
  line-height: 15vh;
}

@keyframes move {
  100% {
    transform: rotate(360deg);
  }
}

$spot-size: 20vmin;
$max-spots: 8;
$spot-speed: 7s;
.background-spots span {
  height: $spot-size;
  width: $spot-size;
  border-radius: 50%;
  backface-visibility: hidden;
  position: fixed;
  overflow: hidden;
  opacity: 0.6;
  animation-name: move;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  @for $i from 1 through $max-spots {
    &:nth-child(#{$i}) {
      color: #055e68;
      color: var(--spot-color);
      top: random(100) * 1%;
      left: random(100) * 1%;
      animation-duration: random($spot-speed) * 1s + $spot-speed;
      transform-origin: (random(50) - 25) * 1vw (random(50) - 25) * 1vh;
      box-shadow: $spot-size * 2 0 $spot-size * 0.7 currentColor;
    }
  }
}

.service-card-grid {
  display: grid;
  grid-template-columns: repeat(3, max-content);
  grid-template-rows: max-content;
  grid-column-gap: 50px;
  max-width: (3 * 350px) + (2 * 50px);
  margin: auto;
}

.service-card {
  position: relative;
  width: 350px;
  height: 100%;
  overflow: hidden;
  color: inherit;
  text-decoration: none;

  &:after,
  &:before {
    content: '';
    width: 400px;
    height: 100%;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    filter: blur(5px);
  }

  &:after {
    box-shadow: inset 0 0 0 200px rgba(255, 255, 255, 0.1);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }

  &:hover:after {
    opacity: 1;
  }

  &:before {
    box-shadow: inset 0 0 0 200px rgba(255, 255, 255, 0.05);
  }

  h2, p {
    text-align: center;
  }
}
