:root {
  --background-color: #343434;
  --alt-background-color: #27323a;
  --default-color: #b9d2d2;
  --secondary-color: #f9d276;
  --spot-color: #055e68;
  --primary-color: #219897;
  --scrollbarBG: #343434;
  --thumbBG: #f9d276;
}

$breakpoint-small: 768px;

body {
  background: #343434;
  background: var(--background-color);
  margin: 0;
  font-family: "Verdana", serif;
  font-size: calc(1em + 0.5vw);
  font-weight: 600;
  color: #b9d2d2;
  color: var(--default-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}
body::-webkit-scrollbar {
  width: 11px;
}
body {
  scrollbar-width: thin;
  scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}
body::-webkit-scrollbar-track {
  background: var(--scrollbarBG);
}
body::-webkit-scrollbar-thumb {
  background-color: var(--thumbBG) ;
  border-radius: 6px;
  border: 3px solid var(--scrollbarBG);
}

[aria-hidden="false"] {
  visibility: hidden
}

@keyframes blink_character {
  to {
    visibility: hidden
  }
}

div.typed-text {

  > span:last-of-type[aria-hidden="true"] {
    animation: blink_character 1s steps(5, start) infinite;
  }

  > span[data-value=" "] {
    padding-left: 1em;
  }
}

div.main-header {
  line-height: 15vh;
  font-family: "Courier New", serif;
  height: 100vh;
  width: calc(100% - 11px);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;

  span {
    font-size: min(max(16px, 3.5vw), 50px);
  }
}

div.main-content {
  margin-top: 100vh;
  width: 100%;
  background-color: #343434;
  background-color: var(--background-color);
  position: relative;
  z-index: 2;
  box-shadow: 0px -2px 11px -2px rgba(34,76,110,1);
}

#about-me {
  background-color: #27323a;
  background-color: var(--alt-background-color);
}

h2 {
  color: #f9d276;
  color: var(--secondary-color);
  font-size: calc(1.5em + 1vw);
}

h3 {
  color: #f9d276;
  color: var(--secondary-color);
  font-size: calc(1.2em + 1vw);
}

h4 {
  color: #f9d276;
  color: var(--secondary-color);
  font-size: calc(1em + 1vw);
  margin: 0;
  padding: 0;
}

a {
  color: #219897;
  color: var(--primary-color);
  text-decoration: none;
}


.full-width-info {
  padding-top: 10vh;
  padding-bottom: 10vh;

  h2, h3, h4 {
    padding-left: 20%;
    padding-right: 20%;
  }

  p {
    padding-left: 20%;
    padding-right: 20%;
  }
}

@media (max-width: $breakpoint-small) {
  .full-width-info {
    padding-top: 5vh;
    padding-bottom: 5vh;

    h2, h3, h4 {
      padding-left: 10%;
      padding-right: 10%;
    }

    p {
      padding-left: 10%;
      padding-right: 10%;
    }
  }
}

@keyframes move {
  100% {
    transform: rotate(360deg);
  }
}

$spot-size: 20vmin;
$max-spots: 8;
$spot-speed: 7s;
.background-spots span {
  height: $spot-size;
  width: $spot-size;
  border-radius: 50%;
  backface-visibility: hidden;
  position: fixed;
  overflow: hidden;
  opacity: 0.6;
  z-index: -1;
  animation-name: move;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  @for $i from 1 through $max-spots {
    &:nth-child(#{$i}) {
      color: #055e68;
      color: var(--spot-color);
      top: random(100) * 1%;
      left: random(100) * 1%;
      animation-duration: random($spot-speed) * 1s + $spot-speed;
      transform-origin: (random(50) - 25) * 1vw (random(50) - 25) * 1vh;
      box-shadow: $spot-size * 2 0 $spot-size * 0.7 currentColor;
    }
  }
}

.service-card {
  width: 100%;
  overflow: hidden;

  div.col {
    float: left;
    position: relative;
  }

  div.col.space {
    height: 100%;
    width: 30%;
    background-color: #343434;
    background-color: var(--background-color);
  }

  div.col.content {
    padding-top: 5vh;
    padding-bottom: 5vh;
    width: 70%;
    background-color: #055e68;
    background-color: var(--spot-color);

    div {
      width: 90%;
    }

    &:before {
       content: "";
       height: 100%;
       width: 30%;
       position: absolute;
       background: #343434;
       background: var(--spot-color);
       border-radius: 50%;
       top: 0;
       left: -15%;
       transition: all 0.8s;
     }

    &:after {
       content: "";
       height: 100%;
       width: 30%;
       position: absolute;
       background: #343434;
       background: var(--spot-color);;
       border-radius: 50%;
       top: 0;
       right: -15%;
       transition: all 0.8s;
     }
  }

  &:nth-of-type(odd) {
    div.col {
      float: right;

      &.content:before {
        width: 0;
      }

      h2, p {
        margin: 1em 20% 1em 5%;
        text-align: right;
      }

      @media (max-width: $breakpoint-small) {
        h2, p {
          margin: 1em 15% 1em 5%;
        }
      }
    }
  }

  &:nth-of-type(even) {
    div.col.content:after {
      width: 0;
    }

    h2, p {
      margin: 1em 5% 1em 20%;
    }

    @media (max-width: $breakpoint-small) {
      h2, p {
        margin: 1em 5% 1em 15%;
      }
    }
  }
}

@media (max-width: $breakpoint-small) {
  .service-card {

    div.col.space {
      width: 20%;
    }

    div.col.content {
      width: 80%;
    }
  }
}

#my-skills {

  h2 {
    color: #b9d2d2;
    color: var(--default-color);
  }

  .small {
    font-size: calc(0.5rem + 0.5vw);
  }
  .medium {
    font-size: calc(1rem + 1vw);
  }
  .large {
    font-size: calc(2rem + 2vw);
  }

  .tech {
    color: #219897;
    color: var(--primary-color);
  }
  .skill {
    color: #b9d2d2;
    color: var(--default-color);
  }
  .area {
    color: #f9d276;
    color: var(--secondary-color);
  }
}

.skills-masonry {
  margin: 0 10% 0 30%;
  display: flex;
  flex-wrap: wrap;

  div {
    margin: 0 0.3em 0;
    text-align: center;
    line-height: 3.2rem;
    flex: 1 0 auto;
  }
}

@media (max-width: $breakpoint-small) {
  #my-skills .skills-masonry {
    margin: 0 10% 0 20%;
  }
}

#footer {
  background-color: #27323a;
  background-color: var(--alt-background-color);

  .footer-wrapper {
    width: 100%;
  }

  h2, h3, h4 {
    padding-left: 20%;
    padding-right: 10%;
  }

  p {
    padding-left: 20%;
    padding-right: 10%;
    margin-top: 0;
  }

  article {
    float: left;
    width: 48%;

    &.article-right {
      width: 48%;
    }
  }

  @media (max-width: $breakpoint-small) {
    article {
      float: none !important;
      width: 100% !important;
    }

    h2, h3, h4 {
      padding-left: 10%;
      padding-right: 10%;
    }

    p {
      padding-left: 10%;
      padding-right: 10%;
    }
  }
}

.clear-float {
  clear: both;
}
