<section id="about-me" class="full-width-info">
  <h2>
    Hello!
    <br>
    I'm Richard Frosztega
  </h2>
  <p>
    I'm a Java & Javascript Developer living in Harrogate, Yorkshire.
    When I'm not enjoying the stunning <a href="https://www.yorkshire.com" target="_blank">Yorkshire countryside</a>
    or drinking the fabulous <a href="https://www.yorkshiretea.co.uk" target="_blank">tea</a>
    I enjoy solving software engineering puzzles
  </p>
  <p>
    Scroll down to see some of the things that I can offer you
  </p>
</section>

<section id="my-skills" class="full-width-info">
  <h2>
    I know a lot about the following
    <br>
    <span class="tech">Technologies</span>,
    <span class="skill">Skills</span> &
    <span class="area">Areas</span>...
  </h2>
  <SkillsMasonry @content={{this.model.skills}}/>
</section>

<section>
  {{#each this.model.services as |service index|}}
    <ServiceCard
            @heading={{service.heading}}
            @content={{service.body}}
            data-aos={{if (even index) "zoom-in-right" "zoom-in-left"}}
    />
  {{/each}}
</section>