<section id="about-me" class="full-width-info">
  <h2>
    Hello!
    <br>
    I'm Richard Frosztega
  </h2>
  <p>
    I'm a Java & Javascript Developer living in Harrogate, Yorkshire.
    When I'm not running in the stunning
    <a href="https://www.yorkshire.com"
       target="_blank"
       rel="noreferrer noopener">
      Yorkshire countryside
    </a>
    or drinking the fabulous
    <a href="https://www.yorkshiretea.co.uk"
       target="_blank"
       rel="noreferrer noopener">
      tea
    </a>
    I enjoy solving software engineering puzzles
  </p>
  <p>
    Scroll down to see some of the things that I can offer you
  </p>
</section>

<section id="my-skills" class="full-width-info">
  <h2>
    I know a lot about the following
    <br>
    <span class="tech">Technologies</span>,
    <span class="skill">Skills</span> &
    <span class="area">Areas</span>...
  </h2>
  <SkillsMasonry @content={{this.model.skills}}/>
</section>

<section id="service-cards">
  {{#each this.model.services as |service index|}}
    <ServiceCard
            @heading={{service.heading}}
            @content={{service.body}}
            data-aos={{if (even index) "zoom-in-right" "zoom-in-left"}}
    />
  {{/each}}
</section>

<section id="footer" class="full-width-info">
  <div class="footer-wrapper">
    <article id="about" class="article-left">
      <h3>Behind the Scenes</h3>
      <p>
        This site is open source and shows off some Javascript, EmberJS, CSS and HTML
      </p>
      <p>
        It's all available on GitHub and uses Travis CI to automate Continuous Delivery
      </p>
      <p>
        Take a look
      </p>
      <h4>GitHub</h4>
      <p>
        <a href="https://github.com/frosoft/hello" target="_blank" rel="noopener noreferrer">
          <img src="/assets/GitHub-Mark/PNG/GitHub-Mark-Light-64px.png" alt="GitHub Mark">
        </a>
      </p>
    </article>
    <article id="contact" class="article-right">
      <h3>Getting in Touch</h3>
      <p>
        Do you have something you'd like my help with?
      </p>
      <p>
        Just want to explore some ideas?
      </p>
      <p>
        Send me an email and we can go from there
      </p>
      <h4>Email</h4>
      <p>
        <a href="mailto:richard@frosoft.co.uk">richard@frosoft.co.uk</a>
      </p>
    </article>
  </div>
  <div class="clear-float"></div>
</section>